*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #414141;
}
/* html, body{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
} */
a{
    text-decoration: none;
    color: #ddd;
}
.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    /* display: grid;
    grid-template-areas: 
    "header header header",
    "main main main"
    "footer footer footer"
    ; */
    /* background-color: #fff; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#header{
    grid-area: header;
}
.nav_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #272525;
    border: 1px solid #737373; /* Specify border color and style */
}

.nav_links {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-content: space-around;
}

.nav_links a:hover{
    background-color: #fff;
}

