*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    min-height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 10px;
    background: linear-gradient(135deg, #153677, #7433b9);
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}

.todo-app > h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 20px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background: #edeef0;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    border: none;
    outline: 0;
    background: transparent;
    padding: 6px;
    font-size: 1.3em;
    font-weight: 14px;
}

#btn{
    border: none;
    outline: 0;
    padding: 11px 20px;
    font-size: 1.2em;
    background: #ea760b;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
}

.todo-box{
    list-style: none;
}

#listItem{
    display: block;
    display: flex;
    flex-flow: column wrap;
}
/* Style for list items */
li {
    list-style-type: none;
    padding: 7px;
    border: 1px solid #ccc;
}

/* Style for delete button */
.delete-button {
    float: right;
    background-color: #ff9999;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-button{
    margin-left: 5px;
    padding: 0.254rem 0.458rem;
}


input[type="checkbox"] {
    margin-right: 10px;
    padding: 1rem;
}



/* responsive */

@media(max-width: 600px) {
    .box{
        width: 80%;
    }
}
@media(max-width: 450px) {
    .box{
        width: 97%;
    }
}




